html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  * {
    box-sizing: border-box;
  }
}
.w {
  max-width: 1000px;
  min-width: 375px;
  margin: 0 auto;
  padding: 10px;
}

.fl {
  float: left !important;
}
.fr {
  float: right !important;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
div, p, span, a {
  font-size: 14px;
}

a {
  text-decoration: none;
}
// 公共类名部分
.background-gray {
  background-color: #F4F5F5 !important;
}